{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="newPostForm">
	<h2>Add a post</h2>
	<form method="post" action="/posts/add_post/"> 
		{% csrf_token %}
		{{ form.media }}
        {{ form.as_p }}
		<input type="submit" name="submit" value="Create a Post" /> 
	</form>
</div>

{% endblock %}


