{% extends "base.html" %}

{% load staticfiles %}


{% block content %}
	{% for post in posts %}
		<div class="post">
			<hr>
			<div class="content">
				<div class="container" style="width: 100%">
					<div class="col-md-8" style="text-align: left">
						<h1>{{ post.title }}</h1>
					</div>
					<div class="col-md-4" style="text-align: middle">
						{% csrf_token %}
						{% if user.id in post.get_users_voted.up or user.id in post.get_users_voted.down or not user.is_authenticated %}
						<button class="btn-success" disabled="true" id="{{post.id}}_likes_button">
							<p id="{{post.id}}_likes">{{ post.likes }}</p>
							<span class="glyphicon glyphicon-thumbs-up"></span>
						</button>
						<button class="btn-danger" disabled="true" id="{{post.id}}_dislikes_button">
							<p id="{{post.id}}_dislikes">{{ post.dislikes }}</p>
							<span class="glyphicon glyphicon-thumbs-down"></span>
						</button>
						{% else %}
						<button class="btn-success" onclick="increase_likes({{post.id}})" id="{{post.id}}_likes_button">
							<p id="{{post.id}}_likes">{{ post.likes }}</p>
							<span class="glyphicon glyphicon-thumbs-up"></span>
						</button>
						<button class="btn-danger" onclick="increase_dislikes({{post.id}})" id="{{post.id}}_dislikes_button">
							<p id="{{post.id}}_dislikes">{{ post.dislikes }}</p>
							<span class="glyphicon glyphicon-thumbs-down"></span>
						</button>
						{% endif %}
					</div>
				</div>
				<div class="description">
					<span> Title: <strong>{{ post.title }}</strong> --- </span>
					<span> Category: 
						<strong>
						<a href="/posts/categories/{{ post.category }}/">{{ post.category }}</a>
						</strong> --- 
					</span>
					<span> Author: 
						<strong>
						<a href="/registration/profile/{{ post.author.id }}/">{{ post.author }}</a>
						</strong> ---
					</span>
					<span> Created: 
						<strong>{{ post.created_date }}</strong>
					</span>
				</div>
			</div>
			<div class="shortText">
				<p>{{ post.text|safe }}</p>
				<p class="message">
					<strong><a href="/posts/post/{{ post.id }}">Show more...</a></strong>
				</p>
			</div>
		</div>
	{% endfor %}
{% endblock %}
