{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
	<div class="post">
		<div class="content">
			<div class="container">
				<div class="col-md-8" style="text-align: left">
					<h1>{{ post.title }}</h1>
				</div>
				<div class="col-md-4" style="text-align: middle">
					{% csrf_token %}
					{% if voted or not user.is_authenticated %}
					<button class="btn-success" disabled="true" id="{{post.id}}_likes_button">
						<p id="{{post.id}}_likes">{{ post.likes }}</p>
						<span class="glyphicon glyphicon-thumbs-up"></span>
					</button>
					<button class="btn-danger" disabled="true" id="{{post.id}}_dislikes_button">
						<p id="{{post.id}}_dislikes">{{ post.dislikes }}</p>
						<span class="glyphicon glyphicon-thumbs-down"></span>
					</button>
					{% else %}
					<button class="btn-success" onclick="increase_likes({{post.id}})" id="{{post.id}}_likes_button">
						<p id="{{post.id}}_likes">{{ post.likes }}</p>
						<span class="glyphicon glyphicon-thumbs-up"></span>
					</button>
					<button class="btn-danger" onclick="increase_dislikes({{post.id}})" id="{{post.id}}_dislikes_button">
						<p id="{{post.id}}_dislikes">{{ post.dislikes }}</p>
						<span class="glyphicon glyphicon-thumbs-down"></span>
					</button>
					{% endif %}
				</div>
			</div>
			<div class="description">
				<span> Title: <strong>{{ post.title }}</strong> --- </span>
				<span> Category: 
					<strong>
					<a href="/posts/categories/{{ post.category }}/">{{ post.category }}</a>
					</strong> --- 
				</span>
				<span> Author: 
					<strong>
					<a href="/registration/profile/{{ post.author.id }}/">{{ post.author }}</a>
					</strong> ---
				</span>
				<span> Created: 
					<strong>{{ post.created_date }}</strong>
				</span>
			</div>
			<div>{{ post.text|safe }}</div>
		</div>
		<div class="comments">
			<h3>Comments</h3>
			{% if user.is_authenticated %}
		        {{ user.username }}, leave a comment: </br>
		        <form action="/posts/add_comment/{{ post.id }}/" method="post">
		            {% csrf_token %}
		            {{ comment_form.as_p }}
		            <button type="submit" class="btn btn-success waves-effect waves-light">
		                <h>Submit</h>
		            </button>
		        </form>
	        {% endif %}
			{% for comment in comments %}
				<div class="comment">
					<hr>
					<p>
						<strong>{{ comment.author }}</strong>
						 wrote on 
						 <strong>{{ comment.created_date }}:</strong>
					</p>
					<p>{{ comment.text }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
