{% extends "base.html" %}

{% load staticfiles %}

<h1>Login</h1>

{% block content %}

	<form class="loginForm" method="post" action="/registration/login/">

		<div class="message">Login to Art Blog</div>

		{% csrf_token %}
		Username: <input type="text" name="username" value="" size="50" /> <br/>
		Password: <input type="password" name="password" value="" size="50" /> <br/>

		<div class="message">{{ message }}</div>

		<input type="submit" value="submit" />

	</form>

{% endblock %}