{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

	<img src="{{ user_profile.profile.picture.url }}"></img>
	
	<h2>Name: <strong>{{ user_profile.username }}</strong></h2>

	<p>Member since: <strong>{{ user_profile.date_joined }}</strong></p>

	<button 
		type="button" 
		onclick="location.href='/posts/users/{{ user_profile.username }}/';">
			Show posts by this author!
	</button>

{% endblock %}