{% extends "base.html" %}

{% load staticfiles %}

<h>Register</h1>

{% block content %} 

<div class="registration">
	{% if registered %}
		<div class="message">
			<div>Thank you for the registration!</div>
			<div>Please continue exploring the site:</div>
			<div><a href="/posts/">Go!</a></div>
		</div>
	{% else %}
		<div class="message">Please fill in the forms below for registration:</div>
		<form id="user_form" method="post" action="/registration/register/" enctype="multipart/form-data">
	        {% csrf_token %}
	        <!-- Display each form  -->
	        {{ user_form.as_p }}
	        {{ profile_form.as_p }}
	        <!-- Provide a button to click to submit the form. -->
		<input type="submit" name="submit" value="Register" /> </form>
	{% endif %}
</div>

{% endblock %}