a {
	color: black;
}

a:hover {
	color: black;
	text-decoration: none;
	text-shadow: 0px 0px 0.5px black;
}

.description {
	padding-bottom: 20px;
	font-size: 0.9em;
}

.post {
	padding-left: 60px;
}

.message {
	padding-bottom: 30px;
	font-size: 1.2em;
}

.newPostButton {
	color: black;
	font-size: 1.2em;
	font-weight: 400;
	padding: 10px 60px;
}

.newPostForm {
	padding: 10px 60px;
}

.registration,
.loginForm {
	margin: 60px;
}

.shortText {
	max-height: 150px;
	overflow: hidden;
	position: relative;
}

.shortText .message { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; 
  padding: 15px 0; 
  background-image: linear-gradient(to bottom, transparent, white);
}