<!DOCTYPE html>

{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">

			<button type="button" class="btn btn-default navbar-btn navbar-left" onclick="location.href='/posts/';">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
			</button>

			<button type="button" class="btn btn-success navbar-btn navbar-left" onclick="location.href='/posts/categories/writing/';">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				Writing
			</button>

			<button type="button" class="btn btn-info navbar-btn navbar-left" onclick="location.href='/posts/categories/music/';">
				<span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
				Music
			</button>

			<button type="button" class="btn btn-warning navbar-btn navbar-left" onclick="location.href='/posts/categories/painting/';">
				<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
				Painting
			</button>

			{% if user.is_authenticated %}

			<button type="button" class="btn btn-default navbar-btn navbar-right" onclick="location.href='/registration/profile/';">
			My profile
			</button>

			<button type="button" class="btn btn-default navbar-btn navbar-right" onclick="location.href='/registration/logout/';">
			Log out
			</button>
			<p class="navbar-text navbar-right" style="margin-right: 10px">You're logged in as <b>{{user}}</b></p>

            {% else %}
			<button type="button" class="btn btn-default navbar-btn navbar-right" onclick="location.href='/registration/login/';">
			Log in
			</button>

			<button type="button" class="btn btn-default navbar-btn navbar-right" onclick="location.href='/registration/register/';">
			Sign up
			</button>
			{%endif%}
		</div>
	</nav>

	<div class="container">
		<div class="newPostButton" style="margin-top: 80px">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			<a href="/posts/add_post/">NEW POST</a>
		</div>

		{% block content %}
		{% endblock %}
	</div>
	
</body>
</html>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>